/* analytics.css */

.topic-heading-fancy {
  font-size: 24px;
  color: #117E8E;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px auto;
  width: 70%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.description {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  color: #555; /* Adjust the color */
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0; /* Background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%; /* Limit the width */
  margin: 20px auto; /* Added margin for padding from outside */
}


.route-button {
  font-size: 18px;
  padding: 15px 30px;
  background-color: #117E8E;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.route-button:hover {
  background-color: #0a4f5c;
}

/* Add any additional styles you may need */

/* Add any additional styles you may need */


